::-webkit-scrollbar { 
    display: none; 
}
body {
	/*background-color: #eee;*/
}

nav {
	background-color: #ccc;
	margin-top: 0px;
	/*border-bottom: 2px solid #eee;*/
	opacity: 0.8;
}
#dd-menu {
	width: 250px !important;
	margin-top: 60px !important;
}
.brand-logo {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #D32F2F !important;
}
.inquire {
	margin-right: 20px;
}
.menu {
	margin-left: 15px;
	color: #D32F2F;
}
.header {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
}
.header-name {
	margin: 40px 0px;
}
.dropdown-content {
	max-width: 130px;
	margin-top: 20px;
	opacity: 1 !important;

}
.card-title {
	margin-bottom: 30px;
}
.card-reveal {
	background-color: #eee !important;
}

span.title {
	font-weight: bolder;
}


/* SERVICES */

.services {
	color: #D32F2F !important;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
}
.contact {
	color: #D32F2F;
	font-size: 20px;
}
.collapsible {
	background-color: #eee;
}
.more-icon {
	color: #ccc;
}
.collection-item {
	background-color: transparent !important;
	border: 0px solid #D32F2F;
	font-family: 'Roboto', sans-serif;
	/*font-weight: 100;*/
}

.divider {
	max-width: 50%;
	border: 0px;
}

@media screen and (max-device-width: 500px) {
    .card-services {
        max-height: 700px !important;
        min-height: 700px !important;
    }

    .card-title {
    	font-size: 35px !important;
    }
}

.close-reveal {
	margin-right: 10px;
	color: #666;
}

/* COLLAPSIBLE */
.contact-div {
	max-width: 70%;
}
.collapsible-header {
	font-size: 20px;
}
.collapsible-body {
	/*padding: 20px;*/
	margin: 10px 30px;
}
.fab-list {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* FOOTER */

.page-footer {
	background-color: #333 !important
}
.footer-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.span-email {
	margin-left: 20px;
}
.span-message {
	margin-left: 10px;
}
.span-createdat {
	margin-left: 10px;
}